<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Write New Post</h1>
    <form method="post" action="/post">
        <input placeholder="Enter username" name="username"> <br> <br>
        <textarea placeholder="write post here.." name="content"></textarea> <br><br>
        <button type="submit">Submit</button>
        <a href="http://localhost:8080/post">Back to Homepage</a>
    </form>
</body>
</html>